<h1>Your tasks:</h1>
<p>Sort by:<%= link_to "Ascending Priority", tasks_path(:sort_param => :priority) %></p>
<% @tasks.each do |task| %>
  <%= render :partial => "task", :locals => {:task => task} %>
<% end %>